body {
	font-family: 'Maven Pro', sans-serif;
	font-size: 12pt;
}

a {
	text-decoration: none;
	color: #13A0D8;
}

a:link {
	text-decoration: none;
	color: #13A0D8;
}

a:visited {
	color: #7B86E2;
}

a:hover {
	color: #7B86E2;
}

h1 {
	color: #13A0D8;
}

/* specifics */

#logo {
	display: inline-block;
}

#logo a {
	color: #C20B39;
	font-family: 'Sansita One';
	font-size: 56pt;
}

a.stationary:visited {
	color: #13A0D8;
}

a.stationary:hover {
	color: #7B86E2;
}

#logo a:visited {
	color: #C20B39;
}

.page {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 24px;
}

.header {
    margin-top: 12px;
    margin-bottom: 12px;
    position: relative;
    
    width: 100%;
}
#navigation {
    display: inline-block;
    vertical-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    
    position: absolute;
    right: 0px;
    
    font-family: 'Sansita One';
    font-size: 24pt;
}

#navigation a {
	margin-left: 12px;
	margin-right: 12px;
}

/* posts */
.post-feeds {
	position: absolute;
	right: 0px;
}

.post {
    margin-top: 12px;
    margin-bottom: 6px;
}

.post-title {
	font-family: 'Maven Pro';
	font-size: 24pt;
	
	margin-bottom: 6px;
}

.post-details {
	font-family: 'Maven Pro', sans-serif;
	font-size: 11pt;
	margin-left: 24px;
}

.post-info {
	font-family: 'Maven Pro', sans-serif;
	font-size: 14pt;
	margin-top: 12px;
}

.post-description {
	font-family: 'Maven Pro', sans-serif;
	font-size: 12pt;
	margin-top: 12px;
	line-height: 1.15;
}

.post-metadata {
	font-family: 'Maven Pro', sans-serif;
	font-size: 11pt;
	margin-top: 6px;
	position: relative;
}

.post-info {
	position: relative;
}

/* events */

.post-end-time {
	margin-left: 12px;
	margin-top: 6px;
	display: block;
}

.post-location {
	float: right;
}

.post-location-address {
	margin-top: 6px;
	font-size: 12pt;
}

.post-location-room {
	margin-left: 12px;
	font-size: 12pt;
}

ul.post-tags {
	color: #13A0D8;
	position: absolute;
	right: 0px;
}
ul.post-tags li {
	display: inline-block;
	
	margin-left: 6px;
	margin-right: 6px;
}

/* commitment */

.post-commitment {
    margin-top: 24px;
    font-size: 14pt;
}

.post-committed {
    display: inline-block;
}

.post-commitments li {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
}

ul.post-commitments {
    display: inline-block
}

/* events */
.event-day {
	margin-top: 24px;
	margin-bottom: 12px;
	
	font-size: 16pt;
	color: #C20B39;
}

/* responses */
.post-responses {
    margin-top: 24px;
}

ul.responses {
    margin-top: 12px;
    margin-bottom: 12px;
}

li.response {
	margin-top: 12px;
}

.response-details {
    font-family: 'Maven Pro', sans-serif;
}

.response-author {
    font-size: 14pt;
}

.response-created {
    margin-left: 24px;
    font-size: 10pt;
}

.response-message {
    font-family: 'Maven Pro', sans-serif;
    margin: 6px 6px 6px 24px;
}

/* user */
.user-title {
	font-family: 'Maven Pro';
	font-size: 24pt;
	
	margin-bottom: 6px;
}

.user-info {
	margin-top: 12px;
	font-size: 14pt;
	line-height: 1.25;
}

.user-details {
	font-family: 'Maven Pro', sans-serif;
	font-size: 11pt;
	margin-left: 24px;
}

.user-description {
	font-family: 'Maven Pro', sans-serif;
	font-size: 12pt;
	margin-top: 12px;
	line-height: 1.15;
}

.user-posts {
	margin-top: 24px;
}

/* users */
.users {
    margin-top: 12px;
}

.users-user {
    margin-top: 12px;
    font-size: 14pt;
}

.users-letter {
	margin-top: 24px;
	margin-bottom: 12px;
	
	font-size: 16pt;
	color: #C20B39;
}

.users-user-info {
	margin-top: 2px;
	font-size: 11pt;
}

/* posting css */
form {
	width: 50%;
}

.post-types {
	padding-top: 12px;
	margin-top: 12px;
	margin-bottom: 24px;
}

.post-types span {
	font-size: 14pt;
	margin-left: 24px;
	margin-bottom: 24px;
}

form p {
    margin-top: 12px;

	font-family: 'Maven Pro', sans-serif;
	font-size: 12pt;
}

form p label {
	display: block;
    margin-bottom: 6px;
}

form p label[for="id_private"]  {
	display: inline;
}

form p input[type="text"] {
    margin-top: 6px;
    display: block;
    
    font-family: 'Maven Pro', sans-serif;
    font-size: 16pt;
}

form p input[type="text"][maxlength="100"] {
    width: 100%;
}

form p input[type="text"][maxlength="200"] {
    width: 100%;
}

#id_room {
	width: 20%;
}

#id_tags {
	font-size: 14pt;
}

form p input[type="password"] {
    margin-top: 6px;
    display: block;
    
    font-family: 'Maven Pro', sans-serif;
    font-size: 16pt;
}

#id_link {
    font-size: 12pt;
    width: 100%;
}

form p textarea {
    margin-top: 6px;
    display: block;
    width: 100%;
    height: 120px;
    
    font-family: 'Maven Pro', sans-serif;
    font-size: 12pt;
}

#id_title {
    width: 100%;
}

input[type=submit] {
    margin-top: 12px;
    padding: 2px 8px 2px 8px;
    
    font-family: 'Maven Pro', sanserif;
    font-size: 12pt;
    
    background-color: white;
    color: #C20B39;
    border: 2px solid #13A0D8;
}

input[type=submit]:hover {
	border-color: #7B86E2;
}

.post-autocomplete-address {
	font-size: 10pt;
}

.post-autocomplete-room {
	margin-left: 12px;
	font-size: 11pt;
}

/* profile */
.list-head {
	margin-top: 24px;
	margin-bottom: 12px;
	
	font-size: 16pt;
	color: #C20B39;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }