body {
	font-family: 'Maven Pro', sans-serif;
	font-size: 12pt;
}

a {
	text-decoration: none;
	color: #00CEFD;
}

a:link {
	text-decoration: none;
	color: #00CEFD;
}

a:visited {
	color: #13A0D8;
}

a:hover {
	color: #13A0D8;
}

#logo {
	display: inline-block;
}

#logo a {
	color: #C20B39;
	font-family: 'Sansita One';
	font-size: 56pt;
}

#logo a:visited {
	color: #C20B39;
}

#logo a:visited {
	color: #C20B39;
}

.page {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.header {
    margin-top: 12px;
    margin-bottom: 12px;
    position: relative;
    
    width: 100%;
}
#navigation {
    display: inline-block;
    vertical-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    
    position: absolute;
    right: 0px;
    
    font-family: 'Sansita One';
    font-size: 24pt;
}

.post {
    margin-top: 12px;
    margin-bottom: 6px;
}

.post-title {
	font-family: 'Maven Pro';
	font-size: 24pt;
	
	margin-bottom: 6px;
}

.post-details {
	font-family: 'Maven Pro', sans-serif;
	font-size: 11pt;
	margin-left: 24px;
}

.post-description {
	font-family: 'Maven Pro', sans-serif;
	font-size: 12pt;
	margin-top: 12px;
	line-height: 1.15;
}

/* responses */
.post-responses {
    margin-top: 24px;
}

ul.responses {
    margin-top: 12px;
    margin-bottom: 12px;
}

li.response {
	margin-top: 12px;
}

.response-details {
    font-family: 'Maven Pro', sans-serif;
}

.response-author {
    font-size: 14pt;
}

.response-created {
    margin-left: 24px;
    font-size: 10pt;
}

.response-message {
    font-family: 'Maven Pro', sans-serif;
    margin: 6px 6px 6px 24px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }