{% extends "post-create.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-1.8.19.custom.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.tagit.css" />
{% endblock %}

{% block title %}Post Event{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.19.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/tag-it.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/event-form.js"></script>

<script type="text/javascript">
$(function(){
	$('#id_start_time').datetimepicker();
	$('#id_end_time').datetimepicker();
	
	var locations = [
	                 {% for location in locations %}
	                 {
	                	 value: "{{ location.name }}",
	                	 room: "{{ location.room }}",
	                	 address: "{{ location.address }}",
	                 },
	                 {% endfor %}
	                 ]
	
	$('#id_location').autocomplete({
		minLength: 0,
		source: locations,
		focus: function( event, ui ) {
			$( "#id_location" ).val( ui.item.value );
			return false;
		},
		select: function( event, ui ) {
			$( "#id_location" ).val( ui.item.value );
			$( "#id_room" ).val( ui.item.room );
			$( "#id_address" ).val( ui.item.address );
			findAddress();
			return false;
		}
	}).data( "autocomplete" )._renderItem = function( ul, item ) {
		return $( "<li></li>" )
		.data( "item.autocomplete", item )
		.append( "<a><span class='post-autocomplete-location'>" + item.value + "</span>" +
				(item.room ? "<span class='post-autocomplete-room'>(" + item.room + ")</span>" : "") +
				"<br><span class='post-autocomplete-address'>" + item.address + "</span></a>" )
		.appendTo( ul );
	};
});

$(document).ready(function(){
	$("#id_tags").tagit({
		caseSensitive: false,
		allowSpaces: true,
		removeConfirmation: true,
		availableTags: [{% for tag in tags %}"{{ tag }}",{% endfor %}]
	});
});
</script>
{% endblock script %}

{% block options %}
<div class="post-types">
	<span><a class="stationary" href="{% url create-idea %}">Idea</a></span>
	<span><a class="stationary" href="{% url create-link %}">Link</a></span>
	<span><a class="stationary" href="{% url create-event %}">Event</a></span>
</div>
{% endblock %}

{% block form %}
<div class="post-title"><h1>Post Event</h1></div>

<div id="event-form-map"></div>
<div class="post-form">
	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %} {{ form.as_p }}
		<input type="submit" value="Post Event!" />
	</form>
</div>
{% endblock %}