{% extends 'base.html' %}
{% load humanize %}

{% block title %}Events{% endblock %}

{% block content %}

<div class="post-alts">
	<a class="pop" href="{% url events-map %}">Calendar + Map</a>
</div>

<div class="post-types">
	<span><a class="stationary" href="{% url ideas %}">Ideas</a></span>
	<span><a class="stationary" href="{% url links %}">Links</a></span>
	<span><a class="stationary" href="{% url events %}">Events</a></span>
</div>

{% spaceless %}
{% for post in posts %}

{% if user.is_authenticated or not post.private %}
{% ifchanged post.start_time.date %} 
	{% if not forloop.first %}
	</ul>
	{% endif %}
	<h2 class="event-day">{{ post.start_time.date }}</h2>
	<ul class="posts">{% include "posts/event_post.html" %}
{% else %}
	{% include "posts/event_post.html" %}
	{% if forloop.last %}
	</ul>
	{% endif %}
{% endifchanged %}
{% endif %}

{% endfor %}
{% endspaceless %}

{% endblock %}