{% extends "post-create.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-1.8.19.custom.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.tagit.css" />
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.19.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/tag-it.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	$("#id_tags").tagit({
		caseSensitive: false,
		allowSpaces: true,
		removeConfirmation: true,
		availableTags: [{% for tag in tags %}"{{ tag }}"{% if not forloop.last %},{% endif %}{% endfor %}]
	});
});
</script>
{% endblock %}

{% block title %}Post Link{% endblock %}

{% block options %}
<div class="post-types">
	<span><a class="stationary" href="{% url create-idea %}">Idea</a></span>
	<span><a class="stationary" href="{% url create-link %}">Link</a></span>
	<span><a class="stationary" href="{% url create-event %}">Event</a></span>
</div>
{% endblock %}

{% block form %}
<div class="post-title"><h1>Post Link</h1></div>

<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %} {{ form.as_p }} 
	<input type="submit" value="Post Link!" />
</form>
{% endblock %}