{% extends 'base.html' %}
{% load humanize %}

{% block title %}Club Connect{% endblock %}

{% block content %}
<div class="post-feeds">
	<a href="{% url web_calendar %}">Calendar</a>
	<a href="{% url latest_rss %}">RSS</a>
</div>
<ul class="posts">
	{% for post in posts %}
	{% if user.is_authenticated or not post.private %}
	<li class="post">
		<div class="post-title">
			<a href="{% if post.link %}{{ post.link }}{% else %}{{ post.get_absolute_url }}{% endif %}">{{ post.title }}</a>
		</div>
		<div class="post-details">
			<span class="post-comments"><a href="{{ post.get_absolute_url }}">{{ post.responses.count }} responses</a></span>
			<span class="post-author">posted by <a href="{% url userprofile post.author %}">{{ post.author }}</a></span>
			<span class="post-created">{{ post.created|naturaltime }}</span>
		</div>
	</li>
	{% endif %}
	{% empty %}
	<li class="post">
		<div class="post-title">
			No recent posts!
		</div>
	</li>
	{% endfor %}
</ul>


{% endblock %}